<h2> <%= session[:username].capitalize %> you have created <%= @current_user_events.length %> events</h2>
<h2>All users:</h2>
<%= link_to  "Create an event", new_event_path %>
<% @all_users.each do |user| %>
    <p> name: <%= link_to user.username, users_path(user.id)%></p>
    <p> events created: <%= link_to user.events.length, users_path(user.id)%></p></br>
<% end %>
