<%if session[:user_id].to_s == params[:id].to_s %>
    <h1>Welcom back  <%= session[:username].capitalize  %> </h1>
<%else%>
    <h1><%= @one_user.username.capitalize  %>'s profile. </h1>
<%end %>

<%= link_to  "show all events", events_path %> </br>
<%= link_to  "show all users", users_path %> </br>
<%= link_to  "show your events", user_path(session[:user_id].to_i) %> </br>
<%= link_to  "Create an event", new_event_path %>


<%if session[:user_id].to_s == params[:id].to_s %>
    <h1> <%= @one_user.createdevents.length  %> <%= 'event'.pluralize(@one_user.createdevents.length.to_i) %> created by you: </h1>
<%else%>
    <h1><%= @one_user.createdevents.length  %> <%= 'event'.pluralize(@one_user.createdevents.length.to_i) %> created by <%= @one_user.username.capitalize  %>: </h1>
<%end %>

<% @one_user.createdevents.each do |event|%>
    <p> title: <%= link_to event.title, event_path(event.id)%></p>
    <p> description: <%= event.description%>.</p>
    <p> date: <%= event.date%></p></br>
<% end %>

<%if session[:user_id].to_s == params[:id].to_s %>
    <h1>you're going to: </h1>
<%else%>
    <h1> <%= @one_user.username.capitalize  %> is going to: </h1>
<%end %>

<% @upcoming_events.each do |event|%>
    <p> title: <%= link_to event.title, event_path(event.id)%></p>
    <p> description: <%= event.description%>.</p>
    <p> date: <%= event.date%></p>
    <p> created by: <%= link_to event.creator.username, user_path(event.creator.id)%></p></br>

<% end %>

<h1> Past events: </h1>

<% @prev_events.each do |event|%>
    <p> title: <%= link_to event.title, event_path(event.id)%></p>
    <p> description: <%= event.description%>.</p>
    <p> date: <%= event.date%></p>
    <p> created by: <%= link_to event.creator.username, user_path(event.creator.id)%></p></br>
               
<% end %>