<%= link_to  "Create an event", new_event_path %>
<h2>Event: <%= @one_event.title %> details:</h2>
<p> title: <%= @one_event.title%></p>
<p> description: <%= @one_event.description%></p>
<p> date: <%= @one_event.date%></p>
<p> creator: <%= @one_event.creator.username%></p>